.layout-sidebar {
  position: fixed;
  padding-left: 2rem;   /* px-8 */
  padding-right: 2rem;
  padding-top: 1rem;    /* py-4 */
  padding-bottom: 1rem;
  border-radius: 0.125rem; /* rounded-sm */
  width: 20rem;
  height: calc(100vh - 8rem);
  top: 6rem;
  left: 2rem;
  user-select: none;
  background-color: #fff; /* fallback for light mode */
     transition:
                    transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                    left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
}

@media (prefers-color-scheme: dark) {
  .layout-sidebar {
    background-color: var(--p-surface-900); /* example for dark:bg-surface-900 */
  }
}

@media (max-width: 991px) {
    .layout-wrapper{ .layout-sidebar {
        transform: translate(-100%);
        left: 0;
        top: 0;
        height: 100vh;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: transform .4s cubic-bezier(.05,.74,.2,.99), left .4s cubic-bezier(.05,.74,.2,.99);
    }
      .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }
        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }
  }
}
@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
                    z-index: 999;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition:
                transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--p-mask-background);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }
    }
}
