@import './_sidebar.scss';



.layout-wrapper{
    min-height: 100vh;
}
 .layout-wrapper {
             &.layout-sidebar-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }
            }
        }