@import './layouts/layout.scss';

.card {
    background: var(--p-content-background);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--p-content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}